<% brew::brew(get.path2template("page.header")) %>

<%# Comment -- wrap up everything in a div %>
<DIV name='de_res'>
<H1><%=title%></H1>
<H2><%=sources.menu%></H2>
<H3 class="section">Differential Expression (<%=opt$feature%> level)</H3>

<%
tsv.download.files <- c(paste(basename(tsv.file.ref),".gz",sep=""))
names(tsv.download.files) <- "TSV"
tsv.download.html <- html.download.bar(tsv.download.files)
%>

<p>FDR=<%=opt$`cut-off`%><%=tsv.download.html%></p>

<% 
pdebug("Generating DE table...")
if ( nrow(table.html)>0 ) {
  table.html.out<-table.html
  truncated.info<-""
  if ( nrow(table.html.out) > opt$max ) {
    table.html.out <- table.html.out[c(1:opt$max),]    
    truncated.info <- paste("(truncated list to ",opt$max,sep="")
  }
  caption <- paste("Number of differential expressed genes: ",nrow(table.html),sep="")
  HTML(table.html.out, file = stdout(),
     Border = 0, innerBorder=0,
        classfirstline = "firstline", classfirstcolumn = "firstcolumn",
        classcellinside = "cellinside", append = FALSE,
        caption = caption, captionalign = "top", classcaption = "captiondataframe", classtable = "dataframe",
        digits=2, nsmall = 0, big.mark = " ", big.interval = 3, decimal.mark = ",",
        sortableDF=TRUE, row.names = FALSE)
} else { cat("None found.") }
pdebug("Generating DE table...done.")
%>

<!-- plots -->
<H3 class="section">MA plot</H3>
<%
pdebug("Generating fold change plot...")
html <- gen.plot2report(filename=paste(file.prefix,"_fold.png",sep=""),
                        width=500,
                        height=500,
                        html=TRUE,
                        ps=TRUE,
                        to.plot=function() {
                          DE.fold.change.plot(uncut.table,
                                              col.mean=fields$FOLDCHANGE_MEDIAN,
                                              col.foldChange=fields$LOG2FOLDCHANGE,
                                              col.pval=fields$PVALUE.FIELD,
                                              fdr=opt$`cut-off`)
                        }
                        )
irap.output.html(html$html,paste("The MA plot allows you to look at the relationship between intensity of expression and difference of expression between two conditions. The x-axis represents the average (logarithmic) expression value across the conditions, and the y axis shows the fold-change between them. Each gene is represented as a dot. Genes with an adjusted p-value <=",opt$`cut-off`," are plotted in red.",sep=""))

pdebug("Generating fold change plot...done.")
%>


<H3 class="section">Adjusted p-value distribution</H3>
<%

pdebug("Generating hist...")
html <- gen.plot2report(filename=paste(file.prefix,"_hist.png",sep=""),
                        bg="white",
                        width=900,
                        height=450,
                        html=TRUE,
                        ps=TRUE,
                        to.plot=function() {
                          par(mfrow=c(1,2))                          
                          hist(uncut.table[,fields$PVALUE.FIELD], breaks=100, col="skyblue", border="slateblue", xlab=fields$PVALUE.FIELD,main="All")
                          plot.panel.label("A")
                          if ( nrow(table.html) > 0 ) {
                            hist(table.html[,fields$PVALUE.FIELD], breaks=100, col="skyblue", border="slateblue", xlab=fields$PVALUE.FIELD,main=paste(fields$PVALUE.FIELD,"<=",opt$`cut-off`,sep=""))
                            plot.panel.label("B")
                          }
                        }
                        )
irap.output.html(html$html,paste("Histogram with observed values of the adjusted p-value (column ",fields$PVALUE.FIELD,") for all genes (panel A) and for the genes with a adjusted p-value below or equal to ",opt$`cut-off`," (panel B).",sep=""))

pdebug("Generating hist...done.")
%>
<!--  <p><IMG src='<%=basename(file.prefix)%>_hist.png' border=0 width=600 height=300><a class='download' href='<%=basename(file.prefix)%>_hist.png.pdf'>PDF</a></p>-->
  
<H3 class="section"><%=pprint.fieldname(fields$LOG2FOLDCHANGE)%></H3>  
<%
pdebug("Generating hist...")
inf.value <- 1.79769e+308
fc.cutoff <- 1000
#                           sum(fc<=.Machine$double.xmin)
html <- gen.plot2report(filename=paste(file.prefix,"_l2fc_hist.png",sep=""),
                        bg="white",
                        width=900,
                        height=450,
                        html=TRUE,
                        ps=TRUE,
                        to.plot=function() {
                          par(mfrow=c(1,2))
                          fc <- uncut.table[,fields$LOG2FOLDCHANGE]
                          fc2 <- fc
                          fc2 <- fc2[fc2<=fc.cutoff]
                          fc2 <- fc2[fc2>=-fc.cutoff]
                          hist(fc2, breaks=100, col="skyblue", border="slateblue", xlab=pprint.fieldname(fields$LOG2FOLDCHANGE),main="All")
                          plot.panel.label("A")
                          par( xpd=NA )                          
                          legend("topright",
                                 inset=c(0,-0.10),
                                 c(
                                   paste("#genes >",fc.cutoff,"=",sum(fc>=fc.cutoff),sep=""),
                                   paste("#genes <",fc.cutoff,"=",sum(fc<=-fc.cutoff),sep="")                                  
                                   ),
                                 text.col="skyblue",
                                 bty="n")

                          if ( nrow(table.html) > 0 ) {
                            fc <- table.html[,fields$LOG2FOLDCHANGE]
                            fc2 <- fc
                            fc2 <- fc2[fc2<=fc.cutoff]
                            fc2 <- fc2[fc2>=-fc.cutoff]                            
                            hist(fc2, breaks=100, col="skyblue", border="slateblue", xlab=pprint.fieldname(fields$LOG2FOLDCHANGE),main=paste(fields$PVALUE.FIELD,"<=",opt$`cut-off`,sep=""))
                            plot.panel.label("B")
                            par( xpd=NA )                          
                            legend("topright",
                                   inset=c(0,-0.10),
                                   c(
                                     paste("#genes >",fc.cutoff,"=",sum(fc>=fc.cutoff),sep=""),
                                     paste("#genes <",fc.cutoff,"=",sum(fc<=-fc.cutoff),sep="")                                  
                                   ),
                                   text.col="skyblue",
                                   bty="n")                            
                          }
                        }
                        )

irap.output.html(html$html,paste("Histogram with observed values of ",pprint.fieldname(fields$LOG2FOLDCHANGE)," for all genes (panel A) and for the genes with a adjusted p-value below or equal to ",opt$`cut-off`," (panel B).",sep=""))
pdebug("Generating hist...done.")
%>


</DIV>

<% brew::brew(get.path2template("page.footer")) %>

