<% brew::brew(get.path2template("page.header")) %>

<%
source(paste(IRAP.DIR,"aux/R","irap_misc.R",sep="/"))
%>

<H1>Software<A NAME='software'/></H1>
  
<!-- Table -->
<A NAME='sum'/>

<%
   library(xtable)
   xt <- xtable(software.table[order(software.table$Software),],
                caption="",
                label="software_table")
   
   html <- print.xtable(xt,
                        file="/dev/null",
                        type="html",
                        sanitize.text.function=function(x) {x}, include.colnames=TRUE,
                        include.rownames=FALSE, html.table.attributes = "")
   irap.output.html(html,
                    "Short list of software used in the analysis. The list reflects the pipeline defined in the experiment's configuration file. ")

%>


<BR>
<% brew::brew(get.path2template("page.footer")) %>

