H1 {
    padding-top: 10px;
    font-size: 20pt; 
    font-style: normal; 
    font-weight: bold;
}

DIV.de_report_bar {
    text-align: left;
}

DIV.source_filter {
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 12pt; 
    background: darkgrey;
    border-radius: 3px;  
    font-style: normal; 
    text-align: center;
    z-index: 999;
    width: 600px;
}

DIV.source_filter a  {
    padding: 10px 30px;
    color: #757575; 
    text-decoration: none;
    font-weight: bold;
}


H2.section {
    padding-top: 35px;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16pt; 
    font-style: normal; 
    font-weight: bold;
}

H3.section {
    padding-top: 35px;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14pt; 
    font-style: normal; 
    font-weight: bold;
}

A.button {
    color: white;
    background: black;
    padding:2px 5px;
    font-weight: bold;
    border-radius: 5px;  
    text-decoration: none;
}

A.download {
    color: white;
    background: black;
    padding:2px 5px;
    font-weight: bold;
    border-radius: 5px;  
    text-decoration: none;
}

DIV.downbar {
    text-align: left;
    width: 160px;
    color: black;
    padding: 10px;
    border-radius: 5px;  
    font-weight: bold;
    font-size: 10pt; 
    background: lightgrey;
}

DIV.dplot {
    margin: 10px;
}


td {
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    text-align: right;
    white-space: nowrap;
}


div#content {
    text-align: left;
    padding: 10px;
}

div#footer {
    background:gray;
    border: 5px; 
    padding: 5px;
    text-align: center;
    font-size: 10pt;
}

/*    background: darkgrey;*/
table.dataframe {
    padding: 1px;  
    table-layout: fixed;
    width: 100%;
}

table.dataframe tr:hover td { white-space: normal; }

TR.firstline{
    background: darkgrey;
    text-align:center;
    font-weight: bold;
    padding: 3px;
}

TD.cellinside {
    padding:2px 5px;
    text-align:right;
    color: navy;
/*    background: white;*/
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}


TD.cellinside A {
    font-weight: bold
}

#body { 	background:blue;	} 

p.caption{font-style:italic; color:red}
.title2{ font-family: Arial, Helvetica, sans-serif; font-size: 14pt; font-style: normal; font-weight: bold; color: #004080  }

span.done100{color:green;}
span.done0{color:red;}
span.donelt50{color:orange;}
span.donegt50{color:aqua;}

.partitle{
	font-family : verdana, arial;
	font-weight:bold
}

DIV.Sinput{background-color:#FFFAEE; color:#004080; font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; padding:4px}

DIV.Sinput p {margin: 0px; border: 0px; padding: 0px;}
DIV.Sinput p xmp { margin: 0px; border: 0px; padding: 0px; }


TR {font-family: Arial, Helvetica,Times, Helvetica, sans-serif; font-size: 10pt; font-style: normal  ; padding:0 0}

TR.ListBackTitle{color: #FFFFFF; background: #6389B5;text-align:left;font-weight: bold}

TD.ListBackMain{background: #E0E0E0; padding:0; }
TD.firstcolumn{padding:5px ; text-align:right; font-weight: bold;}



tr:nth-child(odd) { background-color:lightgrey; }
tr:nth-child(even) { background-color:lightyellow; }
tr:first-child { 
    font-family: Arial, Helvetica,Times, Helvetica, sans-serif; 
    font-size: 10pt;
    text-align: center; 
    color: black;
    background-color: white;
    font-weight: bold;
    padding: 2px;
}
td:first-child { 
    font-family: Arial, Helvetica,Times, Helvetica, sans-serif; 
    font-size: 10pt;
    text-align: left; 
    font-weight: bold;
    padding: 2px;
}
/* Info */
A.button {
    color: white;
    background: black;
    padding:2px 5px;
    font-weight: bold;
    text-decoration: none;
}

A.button_info {
    color: white;
    background: black;
    padding:3px 3px;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
    border-radius: 5px;  
}

div.info_wrapper {
    
    text-align: left;
}

.black_overlay{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}

.info_content {
    display: none;
    position: relative;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    border: 8px solid black;
    background-color: white;
    z-index:1002;
    overflow: auto;
}

.info_content P {
    text-align: left;
}